<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    "goldencobra/application", :media => "all" %>
  <%= stylesheet_link_tag    "goldencobra_events/application", :media => "all" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "goldencobra/application" %>
  <%= javascript_include_tag "goldencobra_events/application" %>
  <%= javascript_include_tag "application" %>	
  <%= csrf_meta_tags %>
</head>
<body>

<%= navigation_menu(1, :depth => 1) %>	

<h1><%= yield(:article_title) %></h1>

<div>
	<%= breadcrumb() %>	
</div>

<%= yield %>
		<div id="social_sharing_buttons" class="bottom_buttons">
			<%= yield(:social_sharing_buttons) %>
		</div>

<div class="article_content">
	<%= yield(:article_subtitle) %>	
	<%= yield(:article_summary) %>	
	<%= yield(:article_content) %>	
	<%= yield(:article_teaser) %>	
	<%= render_article_events() %>
	<%= render_article_artists() %>
	<%= render_article_sponsors() %>
</div>

<div id="sidebar">
</div>

<%= navigation_menu(2) %>	


</body>
</html>
