<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Ticket <%= event.title %></title>
</head>

<body id="invoice" style="font-size:12px; font-family: Helvetica,Arial,sans-serif; max-width:740px;">
  <section>
    <article style="border: 5px solid #cccccc; padding: 20px;">
      <img src="http://<%= Goldencobra::Setting.for_key('goldencobra.url') %>/assets/<%= Goldencobra::Setting.for_key('goldencobra_events.ticket.logo_for_ticket') %>" alt="logo-event" style="float:right;" />
      <img src="http://<%= Goldencobra::Setting.for_key('goldencobra.url') %>/system/tickets/barcode_for_ticket_<%= ticket_number %>.png" alt="barcode-vertical" style="-webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); float:left; margin-top: 100px;" />
      <table id="invoice-details" style="width: 450px; margin-left: 90px;">
        <tr>
          <td>Veranstaltung</td><td><%= event.title %></td>
        </tr>
        <tr>
          <td >Name</td><td><%= user.full_name %></td>
        </tr>
        <tr>
          <td >Termin</td><td><%= event.date %></td>
        </tr>
        <tr>
          <td valign="top">Preis</td>
          <td><%= number_to_currency(user.total_price, :locale => :de) %><br />
              zzgl. <%= number_to_currency(user.total_price/100*19, :locale => :de) %> MwSt.<br />
              <%= number_to_currency(user.total_price + user.total_price/100*19, :locale => :de) %> gesamt
          </td>
        </tr>
        <tr>
          <td valign="top">Ort</td>
          <td>
            <%= event.venue.title %><br />
            <%= event.venue.location.street %><br />
            <%= event.venue.location.zip %> <%= event.venue.location.city %>
          </td>
        </tr>
        <tr>
          <td >Bestellinfo</td><td>Bestellt von <%= user.full_name %> am <%= user.event_registrations.first.created_at.strftime("%d. %B %Y, %H:%M") %></td>
        </tr>
        <tr>
          <td colspan="2">Eine Veranstaltung von Verlag der Tagesspiegel GmbH und Charta der Vielfalt e.V.<br />www.diversity-konferenz.de</td>
        </tr>
      </table>
    </article>
  </section>
  <hr />
  <section>
    <article style="margin-top: 50px; margin-bottom: 10px;">
      <h3 style="float:right;">Einlassticket -- bitte zur Konferenz mitbringen!</h3>
      <img src="http://<%= Goldencobra::Setting.for_key('goldencobra.url') %>/system/tickets/barcode_for_ticket_<%= ticket_number %>.png" alt="barcode-vertical" style=" margin: 10px;" />
    </article>
  </section>
  <hr />


  <footer style="margin-top:80%; height: 20%;">
    <% event.sponsors.where(size_of_sponsorship: "Gold").each do |sponsor| %>
      <%= image_tag("http://#{Goldencobra::Setting.for_key('goldencobra.url')}/#{sponsor.logo.image}", class: "sponsor_image_gold") if sponsor.logo %>
    <% end %><br />
    <% event.sponsors.where(size_of_sponsorship: "Silver").each do |sponsor| %>
      <%= image_tag("http://#{Goldencobra::Setting.for_key('goldencobra.url')}/#{sponsor.logo.image}", class: "sponsor_image_silver") if sponsor.logo %>
    <% end %>
  </footer>
</body>
</html>