<html><head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
        
        <!-- Facebook sharing information tags -->
        <meta content="eMobility Summit Mai 2012" property="og:title">
        
        <title><%= Goldencobra::Setting.for_key("goldencobra.page.default_title_tag")%></title>
		
</head>
    <body marginwidth="0" marginheight="0" style="-webkit-text-size-adjust: none;margin: 0;padding: 0;background-color: #FAFAFA;width: 100% !important;" offset="0" topmargin="0" leftmargin="0">
    	<center>
        	<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" style="margin: 0;padding: 0;background: url(http://cloudforum.tagesspiegel.de/assets/emailback.jpg) repeat-x 0 0 #ffffff; height: 100% !important;width: 100% !important;" id="backgroundTable">
            	<tbody><tr>
                	<td valign="top" align="center" style="border-collapse: collapse;">
                    	<table width="600" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid #DDDDDD;background-color: #FFFFFF;" id="templateContainer">
                        	<tbody><tr>
                            	<td valign="top" align="center" style="border-collapse: collapse;">
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" style="background-color: #FFFFFF;border-bottom: 0;" id="templateHeader">
                                        <tbody><tr>
                                            <td style="border-collapse: collapse;color: #202020;font-family:Helvetica,Arial,sans-serif;font-size: 34px;font-weight: bold;line-height: 100%;padding: 0;text-align: center;vertical-align: middle;" class="headerContent">
                                            
                                            	<div style="text-align: none;">
													<a style="color: #336699;font-weight: normal;text-decoration: underline;" href="http://cloudforum.tagesspiegel.de">
													<img width="397" height="134" border="0" id="headerImage campaign-icon" style="margin: 0;padding: 0;max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="" src="http://cloudforum.tagesspiegel.de/system/images/8/original/cloudforum-logo.jpg"></a></div>
                                            
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" align="center" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \\ -->
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" id="templateBody">
                                    	<tbody><tr>
                                            <td valign="top" style="border-collapse: collapse;background-color: #FFFFFF;" class="bodyContent">
                                
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table width="100%" cellspacing="0" cellpadding="20" border="0">
                                                    <tbody><tr>
                                                        <td valign="top" style="border-collapse: collapse;">
                                                            <div style="color: #505050;font-family:Helvetica,Arial,sans-serif;font-size: 14px;line-height: 150%;text-align: left;">
	<h1 style="font-family:Helvetica,Arial,sans-serif;color: #5dabd3;display: block;font-size: 34px;font-weight: bold;line-height: 100%;margin-top: 0;margin-right: 0;margin-bottom: 10px;margin-left: 0;text-align: left;" class="h1">
	Anmeldebestätigung<br>
	Cloud Forum 2012</h1>
	<%# @user = @user.find_by_id(session[:goldencobra_event_registration][:@user_id]) %>
<p style="font-family:Helvetica,Arial,sans-serif;">
	<br>
	<% if @user.gender == true %>
    	Sehr geehrter Herr <%= @user.firstname %> <%= @user.lastname %>,<br>
	<% else %>
    	Sehr geehrte Frau <%= @user.firstname %> <%= @user.lastname %>,<br>
	<% end %>
	<br>
	vielen Dank für Ihre Anmeldung zum Tagesspiegel Cloud Forum am 26. und 27. April 2012 in Berlin.
	Die Einzelheiten finden Sie hier noch einmal in der Übersicht:<br>
	<br>
	<strong>Anschrift</strong><br>
	<%= @user.title %> <%= @user.firstname %> <%= @user.lastname %><br>
	<% if @user.company.present? && @user.company.location.present? %>
	<%= @user.company.title if @user.company.title != "privat Person"%><br>
		<%= @user.company.location.street %><br>
		<%= @user.company.location.zip %> <%= @user.company.location.city %><br>
	<% end %>
  <br>
  <% if @user.billing_firstname.present? %>
    <strong>Rechnungsanschrift</strong>
    Ansprechpartner: <%= @user.billing_gender ? "Herr" : "Frau" %> <%= @user.billing_firstname%> <%= @user.billing_lastname %><br>
  	<% if @user.billing_company_id.present? %>
      <% @billing_company = GoldencobraEvents::Company.find_by_id(@user.billing_company_id) %>
  	  <%= @billing_company.title if @billing_company.title != "privat Person"%><br>
      <%= @user.billing_department %>
  	  <%= @billing_company.location.street %><br>
  	  <%= @billing_company.location.zip %> <%= @billing_company.location.city %>
  	<% end %>
  <% end %>
  <br />
  Sie haben sich f&uuml;r folgende Panels angemeldet:
  <br />
    <% @event_titles = [] %>
    <% @user.event_registrations.each do |erg| %>
      <% unless erg.event_pricegroup.event.is_root? || (erg.event_pricegroup && erg.event_pricegroup.event && erg.event_pricegroup.event.parent.title.blank?) || @event_titles.include?(erg.event_pricegroup.event.parent.title) %>
        <strong><%= erg.event_pricegroup.event.parent.title %>&nbsp;(<%= erg.event_pricegroup.event.parent.start_date.strftime('%H:%M') %> - <%= erg.event_pricegroup.event.parent.end_date.strftime('%H:%M') %> Uhr)</strong><br />
    <% end %>
    <%= erg.event_pricegroup.event.title unless erg.event_pricegroup.event.is_root? %><br />
    <% end %>
	<strong>Teilnahmegebühr:</strong><br>
	<% event_reg = @user.event_registrations.joins(:event_pricegroup).where("price > 0").order("created_at ASC").last %>
	<% event_pg = event_reg.event_pricegroup if event_reg %>
	<% if event_pg %>
	Preis netto: <%= number_to_currency(event_pg.price, :locale => :de) %><br>
	zzgl. MwSt: <%= number_to_currency(event_pg.price/100*19, :locale => :de) %><br>
	Preis brutto: <%= number_to_currency(event_pg.price + (event_pg.price/100*19), :locale => :de) %><br>
	<% end %>
	Zahlungsart: Rechnung<br>
	<br>
	<strong> Bitte überweisen Sie die Teilnahmegebühr nach Erhalt der Rechnung. Ihre Kongressunterlagen liegen auf dem Cloud Forum für Sie bereit. Bitte registrieren Sie sich vor Ort mit Ihrem Namen beim Anmeldecounter.</strong><br>
	<br>
	Wir freuen uns, Sie auf dem Cloud Forum begrüßen zu dürfen!<br>
	<br>
	Ihr Verlag Der Tagesspiegel</p>
</div>
														</td>
                                                    </tr>
                                                </tbody></table>                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" style="border-collapse: collapse;">
                                	<table width="600" cellspacing="0" cellpadding="10" border="0" style="background-color: #FFFFFF;border-top: 0;" id="templateFooter">
                                    	<tbody><tr>
                                        	<td valign="top" style="border-collapse: collapse;" class="footerContent">
                                            
                                                <table width="100%" cellspacing="0" cellpadding="10" border="0">
                                                    <tbody><tr>
                                                        <td valign="middle" style="border-collapse: collapse;border: 0;" id="social" colspan="2">
                                                            <div style="color: #707070;font-family:Helvetica,Arial,sans-serif;font-size: 12px;line-height: 125%;"><p>Verlag Der Tagesspiegel GmbH | Askanischer Platz 3 | 10963 Berlin | Telefon: (030) 29021 29222 | Fax: (030) 29021 29224</p>

<p>Vertreten durch die Geschäftsführung: Joachim Liebler | Registriergericht: AG Charlottenburg | Registriernummer: HRB 43850 | Umsatzsteuer-Identifikationsnummer: DE 151725755</p></div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody>
						</table>
                        <br>
                    </td>
                </tr>
            </tbody></table>
        </center>
</body></html>
