<html><head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">        
        <!-- Facebook sharing information tags -->
        <meta content="<%= Goldencobra::Setting.for_key("goldencobra.page.default_title_tag")%>" property="og:title">
        <title><%= Goldencobra::Setting.for_key("goldencobra.page.default_title_tag")%></title>
		
</head>
    <body marginwidth="0" marginheight="0" offset="0" topmargin="0" leftmargin="0">
    	<center>
        	<table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" id="backgroundTable">
            	<tbody><tr>
                	<td valign="top" align="center" style="border-collapse: collapse;">
                    	<table width="600" cellspacing="0" cellpadding="0" border="0" id="templateContainer">
                        	<tbody><tr>
                            	<td valign="top" align="center" style="border-collapse: collapse;">
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" id="templateHeader">
                                        <tbody>
											<tr>
                                            	<td  class="headerContent">
                                            		<div style="text-align: none;">
														<% if @email_template.header_html.blank? %>
															<a style="color: #336699;font-weight: normal;text-decoration: underline;" href="http://cloudforum.tagesspiegel.de">
															<img width="397" height="134" border="0" id="headerImage campaign-icon" style="margin: 0;padding: 0;max-width: 600px;border: 0;height: auto;line-height: 100%;outline: none;text-decoration: none;" alt="" src="http://cloudforum.tagesspiegel.de/system/images/8/original/cloudforum-logo.jpg"></a>
														<% else %>	
															<%= raw(@email_template.header_html) %>
														<% end %>
													</div>
                                            	</td>
                                        	</tr>
                                    	</tbody>
									</table>
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" align="center" style="border-collapse: collapse;">
                                    <!-- // Begin Template Body \\ -->
                                	<table width="600" cellspacing="0" cellpadding="0" border="0" id="templateBody">
                                    	<tbody><tr>
                                            <td valign="top" style="border-collapse: collapse;" class="bodyContent">
                                                <!-- // Begin Module: Standard Content \\ -->
                                                <table width="100%" cellspacing="0" cellpadding="20" border="0">
                                                    <tbody>
														<tr>
                                                        	<td valign="top" style="border-collapse: collapse;">
                                                        	    <div>
																	<% template = Liquid::Template.parse(@email_template.content_html) %>
																	<%= raw(template.render(GoldencobraEvents::EventRegistration::LiquidParser)) %>
																</div>
															</td>
                                                    	</tr>
                                                	</tbody>
												</table>                                                
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        	<tr>
                            	<td valign="top" style="border-collapse: collapse;">
                                	<table width="600" cellspacing="0" cellpadding="10" border="0" id="templateFooter">
                                    	<tbody><tr>
                                        	<td valign="top" style="border-collapse: collapse;" class="footerContent">
                                            
                                                <table width="100%" cellspacing="0" cellpadding="10" border="0">
                                                    <tbody><tr>
                                                        <td valign="middle" style="border-collapse: collapse;border: 0;" id="social" colspan="2">
                                                            <div>
																<% if @email_template.footer_html.blank? %>
																	<p>Verlag Der Tagesspiegel GmbH | Askanischer Platz 3 | 10963 Berlin | Telefon: (030) 29021 29222 | Fax: (030) 29021 29224</p>
																	<p>Vertreten durch die Geschäftsführung: Joachim Liebler | Registriergericht: AG Charlottenburg | Registriernummer: HRB 43850 | Umsatzsteuer-Identifikationsnummer: DE 151725755</p>
																<% else %>
																	<%= raw(@email_template.footer_html) %>
																<% end %>
															</div>
                                                        </td>
                                                    </tr>
                                                </tbody></table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody>
						</table>
                        <br>
                    </td>
                </tr>
            </tbody></table>
        </center>
	</body>
</html>
