<% if @event_to_register %>
	<% if @event_to_register.event_pricegroups.count > 0 %>
		<%= form_tag "/goldencobra_events/event/#{@event_to_register.id}/register", :remote => true do %>
			<p><%= s("goldencobra_events.event.registration.to_add.headline") %></p>
				<% if session[:goldencobra_events_webcode] %>
					<ul id="select_pricegroup_<%= @event_to_register.pricegroups_with_webcode("#{session[:goldencobra_events_webcode]}").map{|a| a.id}.join('_')%>">
					<% @event_to_register.pricegroups_with_webcode("#{session[:goldencobra_events_webcode]}").each do |e_pricegroup| %>
						<li class="goldencobra_events_event_price_group_item_for_select_<%= e_pricegroup.id %>">
							<%= radio_button "event", "event_pricegroup", e_pricegroup.id %>
							<%= e_pricegroup.title %> <%= number_to_currency(e_pricegroup.price, :locale => :de) %> 
						</li>
					<% end %>
				<% else %>
					<ul id="select_pricegroup_<%= @event_to_register.event_pricegroups.publicly_available.map{|a| a.id}.join('_')%>">
					<% @event_to_register.event_pricegroups.publicly_available.each do |e_pricegroup| %>
						<li class="goldencobra_events_event_price_group_item_for_select_<%= e_pricegroup.id %>">
							<%= radio_button "event", "event_pricegroup", e_pricegroup.id %>
							<%= e_pricegroup.title %> <%= number_to_currency(e_pricegroup.price, :locale => :de) %> 
						</li>
					<% end %>
				<% end %>
			</ul>
		
		<% if params[:webcode].blank? && session[:goldencobra_events_webcode].blank? %>
			<p><%= s("goldencobra_events.event.registration.webcode.description") %>
		  	<%= text_field_tag :webcode, "", :placeholder => "Aktionscode eingeben"%></p>
			<% if @article.present? %>
				<%= hidden_field_tag :article_id, @article.id %>
			<% end %>
		
			<div id="goldencobra_events_webcode_error"></div>	
		<% end %>
			
			<%= submit_tag s("goldencobra_events.event.registration.to_add.submit"), :id => "goldencobra_events_registration_to_add_submit" %>
		<% end %>
    <script>
      _gaq.push(['_trackPageview', 'Registrierung - Preisgruppe aussuchen']);
    </script>
	<% else %>
		<p><%= s("goldencobra_events.event.registration.errors.no_price_groups_defined") %></p>
	<% end %>
<% end %>
