<div id="goldencobra_events_registration_basket">
	<p><%= s("goldencobra_events.event.registration_basket.headline") %></p>
	<% session[:goldencobra_event_registration] = {} if session[:goldencobra_event_registration].blank? %>
	<% pricegroup_ids = session[:goldencobra_event_registration][:pricegroup_ids] %>
	<% if pricegroup_ids.present? %>
	  <% @event_pricegroups = GoldencobraEvents::EventPricegroup.find(pricegroup_ids) %>
		<ul>
			<% @event_pricegroups.each do |pricegroup| %>
				<li id="goldencobra_events_registration_basket_item_<%= pricegroup.id %>" >
					<span class="title"><%= pricegroup.event.title %></span>
					<span class="price"><%= pricegroup.price %></span>
					<% if !@current_user || (@already_registered_ids && !@already_registered_ids.include?(pricegroup.id) ) %>
						<%= link_to s("goldencobra_events.event.registration_basket.remove_text"), "/goldencobra_events/event/#{pricegroup.id}/cancel", :remote => true, :class => "remove" %>
					<% end %>
				</li>
			<% end %>	
		</ul>
	<% end %>
	<div>
		<%= s("goldencobra_events.event.registration_basket.description") %>
		<%= link_to s("goldencobra_events.event.registration_basket.submit_text"), "/goldencobra_events/events/registration", :remote => true, :class => "submit" %>
	</div> 	
</div>

