<h2 class="boxheader">Anmeldung</h2>
<h1 class="headline">Zusammenfassung</h1>
<p>Anmeldung Cloud Forum am 26. und 27. April 2012 in Berlin</p>

<%= form_tag "/goldencobra_events/events/registration", :remote => true, :class=>"user_registration", :id => "goldencobra_events_user_registration_form" do %>
	<div id="registration_summary">
	  <div class="anschrift">
		  <h2>Rechnungsanschrift</h2>
		  <% @user = User.find(session[:goldencobra_event_registration][:user_id]) if session[:goldencobra_event_registration][:user_id] && session[:goldencobra_event_registration][:user_id].present? %>
			<% if @user %>
			  <p><%= @user.title if @user.title.present? %> <%= @user.firstname %> <%= @user.lastname %></p>
				<% if @user.company && @user.company.title.present? %>
				  <p><%= @user.company.title if @user.company.title != "privat Person"%><br>
				  <%= @user.company.location.street %><br>
				  <%= @user.company.location.zip %> <%= @user.company.location.city %></p>
				<% end %>
			<% end %>
			<%= render_child_block(@user.event_registrations.first.event_pricegroup.event) %>
	  </div>
	  <div class="gebuehren">
		  <h2>Teilnahmegeb&uuml;hr</h2>
		<table>
				<% if session[:goldencobra_event_registration].present? %>
					<% erg = session[:goldencobra_event_registration] %>
					<% event_pg = GoldencobraEvents::EventPricegroup.find(session[:goldencobra_event_registration][:pricegroup_ids].first) %>
					<tr><td>Preis netto: </td><td> <%= number_to_currency(event_pg.price, :locale => :de) %></td></tr>
					<tr><td>zzgl MwSt: </td><td> <%= number_to_currency(event_pg.price/100*19, :locale => :de) %></td></tr>
					<tr><td>Preis brutto: </td><td> <%= number_to_currency(event_pg.price + (event_pg.price/100*19), :locale => :de) %></td></tr>
				<% end %>
		</table>
	  </div>
		<p><%= submit_tag "Verbindlich anmelden" %> oder <%= link_to "Ändern", "/anmeldung" %></p>
	</div>
<% end %>
