<h2 class="boxheader">Anmeldung</h2>
<h1 class="headline">Zusammenfassung</h1>
<p><%= s("goldencobra_events.event.registration.user_form.title_summary") %></p>

<%= form_tag "/goldencobra_events/events/registration", :remote => true, :class=>"user_registration", :id => "goldencobra_events_user_registration_form" do %>
	<div id="registration_summary">
	  <div class="anschrift">
		  <h2>Rechnungsanschrift</h2>
			<% if @summary_user %>
			  <p><%= @summary_user.title if @summary_user.title %> <%= @summary_user.firstname%> <%= @summary_user.lastname %><br>
				<% if @summary_company %>
				  <%= @summary_company.title if @summary_company.title != "privat Person"%><br>
				  <%= @summary_company.location.street %><br>
				  <%= @summary_company.location.zip %> <%= @summary_company.location.city %>
				<% end %>
			  </p>
			<% end %>
	  </div>
    <div class="anschrift">
      <h2>Sie haben sich f&uuml;r folgende Panels angemeldet:</h2>
      <table class="events">
        <% event_titles = [] %>
		    <% ergs = GoldencobraEvents::EventPricegroup.where("goldencobra_events_event_pricegroups.id in (?)",session[:goldencobra_event_registration][:pricegroup_ids]).sorted %>
        <% ergs.each do |erg| %>
				<% if erg.event.title.blank? %>
				LEER
				<% else %>
				 <%= erg.event.title %>
				<% end %>
          <% unless erg.event.is_root? || erg.event.parent.title.blank? || event_titles.include?(erg.event.parent.title) %>
            <tr>
              <td><strong><%= erg.event.parent.title %>&nbsp;(<%= erg.event.parent.start_date.strftime('%H:%M') %> - <%= erg.event.parent.end_date.strftime('%H:%M') %> Uhr)</strong></td>
              <% event_titles << erg.event.parent.title %>
            </tr>
        <% end %>
          <tr>
            <td><%= erg.event.title unless erg.event.is_root? %></td>
          </tr>
        <% end %>
      </table>
    </div>
	  <div class="gebuehren">
		  <h2>Teilnahmegeb&uuml;hr</h2>
		<table>
				<% if session[:goldencobra_event_registration].present? %>
					<% erg = session[:goldencobra_event_registration] %>
					<% event_pg = GoldencobraEvents::EventPricegroup.find(session[:goldencobra_event_registration][:pricegroup_ids].first) %>
					<tr><td>Preis netto: </td><td> <%= number_to_currency(event_pg.price, :locale => :de) %></td></tr>
					<tr><td>zzgl MwSt: </td><td> <%= number_to_currency(event_pg.price/100*19, :locale => :de) %></td></tr>
					<tr><td>Preis brutto: </td><td> <%= number_to_currency(event_pg.price + (event_pg.price/100*19), :locale => :de) %></td></tr>
				<% end %>
		</table>
		<p><%= submit_tag s("goldencobra_events.event.registration.user_form.submit") %> oder <%= link_to "Aendern", "/anmeldung" %></p>
	  </div>
	</div>
<% end %>
