<!-- Für das Einloggen bereits vorhandener User -->
	<!-- <p><%#= s("goldencobra_events.event.registration.user_form.sub_headline") %></p> -->
	<!-- <div class="already_registered">
		<p>Haben Sie bereits ein Konto?</p>
		<%#= field_set_tag "loginform" do %>
			<p>
				<label><%#= s("goldencobra_events.event.registration.user_form.user_label.email") %></label>
				<%#= text_field_tag "registration[user][email]", "", :required => false, :type => "email", "data-message" => s("goldencobra_events.event.registration.user_form.errors.email") %>
			</p>
			<p>
				<label><%#= s("goldencobra_events.event.registration.user_form.account_label.password") %></label>
				<%#= password_field_tag "registration[user][password]", "", :required => false, "data-message" => s("goldencobra_events.event.registration.user_form.errors.password") %>
			</p>
			<%#= submit_tag s("goldencobra_events.event.registration.user_form.submit") %>		
		<%# end %>
	</div> -->


<h2><%= s("goldencobra_events.event.registration.user_form.headline") %></h2>
<p><%= s("goldencobra_events.event.registration.user_form.description") %></p>
<%#= render :partial => "goldencobra_events/events/registration_basket"%>
<%#= form_tag "/goldencobra_events/events/registration", :remote => true, :class=>"user_registration", :id => "goldencobra_events_user_registration_form" do %>
<%= form_tag "/goldencobra_events/events/summary", :remote => true, :class=>"user_registration", :id => "goldencobra_events_user_registration_form" do %>
	<div class="errormessages"></div>
	<div class="panes">
		<p class="userform-section">
			<%= s("goldencobra_events.event.registration.user_form.user_fieldset_name") %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.label.gender") %></label>
			<%= radio_button "registration[user]", "gender", true , :id => "male" %> <%= s("goldencobra_events.event.registration.user_form.gender_male") %>
			<%= radio_button "registration[user]", "gender", false, :id => "female" %> <%= s("goldencobra_events.event.registration.user_form.gender_female") %>		
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.title") %></label>
			<%= text_field_tag "registration[user][title]", "", :required => false %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.firstname") %></label>
			<%= text_field_tag "registration[user][firstname]", "", :required => true, "data-message" => s("goldencobra_events.event.registration.user_form.errors.firstname") %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.lastname") %></label>
			<%= text_field_tag "registration[user][lastname]", "", :required => true, "data-message" => s("goldencobra_events.event.registration.user_form.errors.lastname") %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.company_label.title") %></label>
			<%= text_field_tag "registration[company][title]", "", :required => false, "data-message" => s("goldencobra_events.event.registration.user_form.errors.company_title") %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.function") %></label>
			<%= text_field_tag "registration[user][function]", "", :required => false %>
		</p>
		<div class="address">
			<p>
				<label><%= s("goldencobra_events.event.registration.user_form.company_label.street") %></label>
				<%= text_field_tag "registration[company][location_attributes][street]", "", :required => false, "data-message" => s("goldencobra_events.event.registration.user_form.errors.company_street") %>
			</p>
			<p>
				<label><%= s("goldencobra_events.event.registration.user_form.company_label.zip") %> <%= s("goldencobra_events.event.registration.user_form.company_label.city") %></label>
				<%= text_field_tag "registration[company][location_attributes][zip]", "", :required => false, :class=>"shortinput", "data-message" => s("goldencobra_events.event.registration.user_form.errors.company_zip") %>
				<%= text_field_tag "registration[company][location_attributes][city]", "", :required => false, :class=>"shortinput", "data-message" => s("goldencobra_events.event.registration.user_form.errors.company_city") %>
			</p>
			<p>
				<label><%= s("goldencobra_events.event.registration.user_form.company_label.country") %></label>
				<%= text_field_tag "registration[company][location_attributes][country]", "", :autocomplete => "off", :required => false, "data-message" => s("goldencobra_events.event.registration.user_form.errors.company_country") %>
			</p>
		</div>	
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.phone") %></label>
			<%= text_field_tag "registration[user][phone]", "", :required => false, "data-message" => s("goldencobra_events.event.registration.user_form.errors.phone") %>
		</p>
		<p>
			<label><%= s("goldencobra_events.event.registration.user_form.user_label.email") %></label>
			<%= text_field_tag "registration[user][email]", "", :required => true, :type => "email", "data-message" => s("goldencobra_events.event.registration.user_form.errors.email") %>
		</p>
		<%# 2. Emaileingabe zur Überprüfung der Adresse %>
		<p>
			<label><%#= s("goldencobra_events.event.registration.user_form.user_label.email2") %></label>
			<%#= text_field_tag "registration[user][email]", "", :required => true, :type => "email", "data-message" => s("goldencobra_events.event.registration.user_form.errors.email") %>
		</p>
		<p>
      		<%= check_box("AGB","accepted", :required => true, "data-message" => s("goldencobra_events.event.registration.user_form.errors.agb")) %>
			Ich habe die <a href="/agb" target="_blank">AGB</a> gelesen.
		</p>
		<p style="padding:25px 0 25px 15px;">
			<label></label>
			<%= submit_tag s("goldencobra_events.event.registration.user_form.submit") %>	
		</p>	
	<%# end %>
	</div>
	
<% end %>
