<% if params[:webcode].blank? && session[:goldencobra_events_webcode].blank? %>
  <h2><%= s("goldencobra_events.event.registration.webcode.title") %></h2>
  <p><%= s("goldencobra_events.event.registration.webcode.description") %></p>
	<%= form_tag "/goldencobra_events/events/webcode", :remote => true, :class=>"webcode_authentification" do %>
		<%= text_field_tag :webcode, "", :placeholder => "Webcode eingeben"%>
		<% if @article.present? %>
			<%= hidden_field_tag :article_id, @article.id %>
		<% end %>
		<%= submit_tag s("goldencobra_events.event.registration.webcode.submit") %>
		<%#= link_to "Weiter ohne Webcode", "#", class: "button", id: "register_without_webcode" %>	
	<% end %>
<% end %>
<% if session[:goldencobra_events_webcode].present? %>
	<script type="text/javascript">
		$(document).ready(function() {
			// Webcode ist gültig, also weiter
			$('#goldencobra_events_article_events').removeClass("hidden");
		});

	</script>
<% end %>
<div id="goldencobra_events_webcode_error">
	
</div>
