<% @event_to_register = @article.event if @article.present? %>
<% if @registered_event_price_group %>
	// Elternelement als 'registriert' kennzeichnen & Kinder einblenden 
	// $('li.article_event_id_<%= @registered_event_price_group.event_id%>').addClass("completed").find("ul.sub_events").addClass("active").show();
	$('li.article_event_id_<%= @registered_event_price_group.event_id%>').find("ul.sub_events").addClass("active").show();
			
	// Preisgruppen ausblenden, da Wahl getroffen wurde
	$(".article_event_id_<%= @registered_event_price_group.event_id %>").children(".article_event_content").children(".pricegroups").hide();
	
	// Button 'Mit Anmeldung fortfahren' einblenden
	$('#goldencobra_events_enter_account_data_wrapper').fadeIn();

	$('#article_event_webcode_form').hide();
	
	// Wenn radiobuttons genutzt werden, wird hier das vorgemerkt, des bereits gemerkten Events entfernt
	<% siblings_array = @registered_event_price_group.event.siblings %>
	<% siblings_array.each do |sibling| %>
	<% next if sibling == @registered_event_price_group.event %>
		$('.article_event_id_<%= sibling.id %>').children().children('div.title').html('<%= sibling.title %>');
	<% end %>
	
   $('p.price_informations').hide();
   $('div.new_pricegroups').fadeOut('slow');
   $('#article_event_webcode_form').fadeOut('slow');

	// $('li.article_event_id_<%= @registered_event_price_group.event_id%>').parent().children("div.register_for_event").fadeOut(400, function(){});
	<% @show_panels = true %>
<% else %>
	<% if @event_to_register %>
			$('li.article_event_id_<%= @event_to_register.id %> div.new_pricegroups').html("<%= escape_javascript(render(:partial => '/goldencobra_events/events/register' ))%>")
			.fadeIn();
		$('#register_for_event_<%= @event_to_register.id %>_link').fadeOut(400, function(){});
	    $('.registration_informations').show();
		<% if @webcode == true %>
		    $('p.price_informations').fadeOut('slow');
		<% end %>
	<% end %>
<% end %>

// Webcode Validierungsanzeigen
<% if @valid_webcode == true %>
	$('#goldencobra_events_webcode_error').append('<p style="color: green;">Webcode ist g&uuml;ltig</p>');
<% elsif @valid_webcode == false %>
	$('#goldencobra_events_webcode_error').append('<p style="color: red;">Webcode ist nicht g&uuml;ltig</p>');
<% end %>

var _gaq = _gaq || [];
_gaq.push(['_trackPageview', 'registrierung/preisgruppe_aussuchen']);
